html, body { 
    background: url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color : #f2f2f2;
    
}
body {
    font-family: 'Roboto Condensed', sans-serif; 
    margin : 25px;
}

.img-circle {
    border : 10px solid #3176BB;
}

img.center{
        display: block;
        margin-left: auto;
        margin-right: auto;     
        width: 250px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    /* font-weight: 700; */
    color: #c40f0c!important;
}
.form {
	background-color: #fff;
	padding : 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	overflow:auto;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 2px solid #ededed;
    /* border-radius: 4px; */        
}

.intro p {
	font-size: 14px;
	line-height: 100%;
}

.gray-bg {
	background-color: #ececec;
}
.no-radius {
	border-radius: 0;
}
.navbar-brand {
    float: left;    
    font-size: 18px;
    line-height: 20px;
    height: auto;
    padding : 0;
}
.navbar-inverse {
    background-color: #19496F;
    border-color: #000000;
}
.navbar-inverse .navbar-nav>li>a {
    color: #C5C7C8;
    padding-top:42px;
    padding-left:25px;
    padding-right:25px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3176BB;
    padding-top:42px;
    padding-left:25px;
    padding-right:25px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #19496f;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #bdbdbd;
}

.profile-circle { width:150px; height:150px; border-radius:50%; border: 10px solid #3176BB;}
.regbtn { margin-right:15px; background:#ececec;}
.lft-part .form-control {border-top:0px; border-left:0px; border-right:0px; box-shadow:0 0 0 #fff; border-radius: 0;     border-bottom: 1px solid #ededed; padding-left: 5px;}
.lft-part .form-control:focus  { border-bottom:1px solid #19496F;}
.btn { border-radius:2px;}
.intros {margin-top:9%;}